<p (click)="toggleMessage()">toggle me</p>


<!-- [ngStyle]="{'display': cardActive ? 'visible' : 'none'}" -->
<app-card [variant]="CardSize.Big" (closeEmitter)="handleCardClose($event)" *ngIf="cardActive">
  <button appHello>Click me</button>
  <span>Lorem ipsum</span>
  <h2>Current date is {{currentDate | date : 'dd.MM.YYYY' | emoji : 'angry'}}</h2>
  {{debugObject | json}}
</app-card>

<div *ngIf="shouldShowMessage">
    <h2>Hello World!</h2>
    <ul>
        <li *ngFor="let item of myItems">
            {{item}}
        </li>
    </ul>
</div>
